
@{
    ViewBag.Title = "viewtblshoe";
}



<script src="~/Sscripts/jquery-3.6.0.min.js"></script>

<script src="~/Content/Toaster/scripts/toastr.min.js"></script>
<link href="~/Content/Toaster/content/toastr.min.css" rel="stylesheet" />
<link href="~/Content/JqueryDatatable/CSS/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Sscripts/moment.js"></script>
<script src="~/Sscripts/CustomeJS.js"></script>

<script src="~/Sscripts/CustomeJS.js"></script>






<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        @*<div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">Form Elements</h5>
                                            </div>
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                                                <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ form-element ] start -->
                            <div class="col-sm-12">
                                <div class="card">

                                    <div class="card-body">
                                        <h1>Add Shoes</h1>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form  id="data" enctype="multipart/form-data" method="post">

                                                   
                                                    <div class="form-group">
                                                        <label for="shoename">shoename</label>
                                                        <input type="text" class="form-control" name="shoename" id="shoename" placeholder="Enter waist size">
                                                    </div>
                                           


                                           

                                                    <div class="row" style="padding-left:20px">
                                                        <div class="form-group col-md-2 col-sm-1">
                                                            @Html.CheckBox("xsmall", new { @id = "xsmall", @class = "form-check-input" })
                                                            @*<input type="checkbox" class="form-check-input" name="xsmall" id="xsmall">*@
                                                            <label class="form-check-label" for="xsmall">ExtraSmall</label>
                                                        </div>
                                                        <div class="form-group col-md-2 col-sm-1">
                                                            @Html.CheckBox("small", new { @id = "small", @class = "form-check-input" })
                                                            @*<input type="checkbox" class="form-check-input" name="small" id="small">*@
                                                            <label class="form-check-label" for="xsmall">Small</label>
                                                        </div>
                                                        <div class="form-group col-md-2 col-sm-1">
                                                            @Html.CheckBox("medium", new { @id = "medium", @class = "form-check-input" })
                                                            @*<input type="checkbox" class="form-check-input" name="medium" id="medium">*@
                                                            <label class="form-check-label" for="medium">Medium</label>
                                                        </div>

                                                    </div>

                                                    <div class="row" style="padding-left:20px">
                                                        <div class="form-group col-md-2 col-sm-1">
                                                            @Html.CheckBox("large", new { @id = "large", @class = "form-check-input" })
                                                            @*<input type="checkbox" class="form-check-input" name="large" id="large">*@
                                                            <label class="form-check-label" for="large">Large</label>
                                                        </div>
                                                        <div class="form-group col-md-2 col-sm-1">
                                                            @Html.CheckBox("xlarge", new { @id = "xlarge", @class = "form-check-input" })
                                                            @*<input type="checkbox" class="form-check-input" name="xlarge" id="xlarge">*@
                                                            <label class="form-check-label" for="xlarge">Extra Large</label>
                                                        </div>
                                                        <div class="form-group col-md-2 col-sm-1">
                                                            @Html.CheckBox("xxlarge", new { @id = "xxlarge", @class = "form-check-input" })
                                                            @*<input type="checkbox" class="form-check-input" name="xxlarge" id="xxlarge">*@
                                                            <label class="form-check-label" for="xxlarge">XXL</label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="pic1">Select a file:</label>
                                                        <input type="file" id="pic1" name="pic1">
                                                    </div>



                                                    <div class="form-group">
                                                        <label for="pic2">Select a file:</label>
                                                        <input type="file" id="pic2" name="pic2">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="pic3">Select a file:</label>
                                                        <input type="file" id="pic3" name="pic3">
                                                    </div>




                                                    <div class="form-group">
                                                        <label for="price">Price</label>
                                                        <input type="text"  autocomplete="off" onkeypress="return isNumber(event)" class="form-control" name="price" id="price" placeholder="Enter Price">
                                                    </div>



                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="detail">Detail</label>
                                                            <textarea class="form-control" name="detail" id="detail" rows="3"></textarea>
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>

                                        </div>







                                    </div>
                                </div>
                                <!-- Input group -->

                            </div>
                            <!-- [ form-element ] end -->
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<!-- Warning Section start -->
<!-- Older IE warning message -->
<script>

     function CheckNull() {
        debugger
        if ($("#shoename").val() == "") { document.getElementById('shoename').style.borderColor = "red"; toastr.error('shoename  required!'); } else { document.getElementById('shoename').style.borderColor = "#ced4da"; }
        if ($("#price").val() == "") { document.getElementById('price').style.borderColor = "red"; toastr.error('price required!');  } else { document.getElementById('price').style.borderColor = "#ced4da"; }
        if ($("#detail").val() == "") { document.getElementById('detail').style.borderColor = "red"; toastr.error('detail required!'); } else { document.getElementById('detail').style.borderColor = "#ced4da"; }





        if($("#shoename").val() == "" || $("#price").val() == "" || $("#detail").val() == ""  )
        {
            debugger
            toastr.error('All Fields are required!');
            checkingNull = false;
            return false;
        }
        else {
            checkingNull = true;
            return true;
        }
    }



    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            toastr.error('write number only');
            return false;
        }

        return true;
    }

    $("form#data").submit(function (e) {
        debugger

        var ch = CheckNull();
        if (ch == false) {
            return false;
        }
        if (ch == true) {
            var inp = document.getElementById('pic1');
            if (inp.files.length === 0) {

                toastr.error('Attachment Required');
                /*alert("Attachment Required");*/
                inp.focus();

                return false;
            }

            var inps = document.getElementById('pic2');
            if (inps.files.length === 0) {

                /*alert("Attachment Required");*/
                toastr.error('Attachment Required');
                inps.focus();

                return false;
            }

            var inps3 = document.getElementById('pic3');
            if (inps3.files.length === 0) {

                toastr.error('Attachment Required');
                /*alert("Attachment Required");*/
                inps3.focus();

                return false;
            }
        }
        var formData = new FormData(this);


            //alert(email+mobile+cnic);
            $.ajax({
                url: '@Url.Action("addtblshoe", "Create")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    toastr.success('Successfully Submitted');
                },
                cache: false,
                contentType: false,
                processData: false
            });



    });



</script>
