@model IEnumerable<bazar.DAL.Data.tblshoeclass>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}

@*<script src="~/Sscripts/jquery-3.6.0.min.js"></script>

    <script src="~/Content/Toaster/scripts/toastr.min.js"></script>
    <link href="~/Content/Toaster/content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/JqueryDatatable/CSS/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Sscripts/moment.js"></script>
    <script src="~/Sscripts/CustomeJS.js"></script>

    <script src="~/Sscripts/CustomeJS.js"></script>*@

<script src="~/Sscripts/jquery-3.6.0.min.js"></script>
<script src="~/Sscripts/jquery.dataTables.min.js"></script>
<script src="~/Content/Toaster/scripts/toastr.min.js"></script>
<link href="~/Content/Toaster/content/toastr.min.css" rel="stylesheet" />
<link href="~/Content/JqueryDatatable/CSS/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Sscripts/moment.js"></script>
@*<script src="~/Sscripts/CustomeJS.js"></script>*@

<script src="~/Sscripts/CustomeJS.js"></script>

<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        @*<div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Bootstrap Table</a></li>
                                            <li class="breadcrumb-item"><a href="#!">Basic Tables</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ basic-table ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Items Records</h5>
                                        
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">

                                            <table id="tblshoe" class="table" style="width:100%">
                                                <thead style="color:#ff6002">
                                                    <tr>
                                                        <th style="display: none">id</th>
                                                        <th>Shoe Name</th>
                                                        <th>Category Name</th>
                                                        <th>SizeChart Name</th>
                                                        <th>Xsmall</th>
                                                        <th>small</th>
                                                        <th>Medium</th>
                                                        <th>Large</th>
                                                        <th>Xlarge</th>
                                                        <th>xxl</th>
                                                        <th>xxxl</th>
                                                        <th>price</th>
                                                        <th style="display:none">detail</th>
                                                        <th style="display:none">pic22</th>
                                                        <th style="display:none">pic11</th>
                                                        <th style="display:none">pic33</th>
                                                        <th>pic1</th>
                                                        <th>pic2</th>
                                                        <th>pic3</th>
                                                        <th style="display:none">pic33</th>
                                                        <th>Edit</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="tblfloortime">

                                                    @foreach (var row in Model)
                                                    {

                                                    <tr>
                                                        <td style="display:none">@Html.DisplayFor(modelItem => row.id)</td>
                                                        <td>@Html.DisplayFor(modelItem => row.shoename)</td>
                                                        <td>@Html.DisplayFor(modelItem => row.category)</td>
                                                        <td>@Html.DisplayFor(modelItem => row.shirtsizechartnameid)</td>

                                                        @if (row.xsmall == true)
                                                        {
                                                            <td>yes</td>
                                                        }
                                                        else
                                                        {
                                                            <td>no</td>
                                                        }
                                                        @if (row.small == true)
                                                        {
                                                            <td>yes</td>
                                                        }
                                                        else
                                                        {
                                                            <td>no</td>
                                                        }
                                                        @if (row.medium == true)
                                                        {
                                                            <td>yes</td>
                                                        }
                                                        else
                                                        {
                                                            <td>no</td>
                                                        }
                                                        @if (row.large == true)
                                                        {
                                                            <td>yes</td>
                                                        }
                                                        else
                                                        {
                                                            <td>no</td>
                                                        }
                                                        @if (row.xlarge == true)
                                                        {
                                                            <td>yes</td>
                                                        }
                                                        else
                                                        {
                                                            <td>no</td>
                                                        }
                                                        @if (row.xxlarge == true)
                                                        {
                                                            <td>yes</td>
                                                        }
                                                        else
                                                        {
                                                            <td>no</td>
                                                        }
                                                        @if (row.xxxlarge == true)
                                                        {
                                                            <td>yes</td>
                                                        }
                                                        else
                                                        {
                                                            <td>no</td>
                                                        }
                                                        <td>@Html.DisplayFor(modelItem => row.price)</td>
                                                        <td style="display:none">@Html.DisplayFor(modelItem => row.detail)</td>
                                                        <td style="display:none">@Html.DisplayFor(modelItem => row.pic11)</td>
                                                        <td style="display:none">@Html.DisplayFor(modelItem => row.pic22)</td>
                                                        <td style="display:none">@Html.DisplayFor(modelItem => row.pic33)</td>
                                                        <td><img id="myImg1" src="@row.pic11" alt="Snow" style="width:100px;height:100px;" class="mb-2"></td>
                                                        <td><img id="myImg2" src="@row.pic22" alt="Snow" style="width:100px;height:100px;" class="mb-2"></td>
                                                        <td><img id="myImg3" src="@row.pic33" alt="Snow" style="width:100px;height:100px;" class="mb-2"></td>
                                                        <td style="display:none">@Html.DisplayFor(modelItem => row.categoryid)</td>
                                                        <td><button class='mt-2 btn btn-primary btnEdit' id='btnEdit'>Edit</button>  @Html.ActionLink("Delete", "deletetblshoe", "Delete", new { id = row.id }, new { @class = "btn btn-primary", style = "margin-top:10px" })</td>
                                                        @*<td><button class='mt-2 btn btn-primary btnDelete' id='btnDelete'>Deactivate</button></td>*@
                                                        @*<td>@Html.ActionLink("Delete", "deletetblsizeShirtMale", "Delete", new { id = row.id }, new { @class = "btn btn-primary" })</td>*@


                                                    </tr>

                                                    }

                                                    @*<tr>
                                                            <td>@Html.ActionLink("Delete", "deletetblsizeShirtMale", "Delete", new { chartname = rows.chartname }, new { @class = "btn btn-primary" })</td>

                                                        </tr>*@

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ basic-table ] end -->


                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="my-modal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:blue">
                <h2 style="color:white">Edit Form</h2>
                <span id="close" class="close">&times;</span>

            </div>
            <div class="modal-body">
                <div id="modaldata" style="margin-top:20px; margin-bottom:30px;">  </div>
                <h5 id="modelcontent2" style=" font-family:Calibri !important; "></h5>
                <div id="modelcontent" style="margin-bottom:30px;  font-family:Calibri !important; ">
                    <form id="data" enctype="multipart/form-data" method="post">


                        <div class="form-group" style="display:none">
                            <label for="id">Id</label>
                            <input type="text" style="display:none" class="form-control" name="id" id="ids" placeholder="Enter waist size">
                        </div>
                        <div class="form-group">
                            <label for="shoename">shoename</label>
                            <input type="text" class="form-control" name="shoename" id="shoename" placeholder="Enter shoename">
                        </div>
                        <div class="form-group">

                            <label for="categoryid">Select Category</label>

                            <select name="categoryid" id="categoryid" class="form-control" require>
                                <option value="0">-- Please Select --</option>

                            </select>
                        </div>

                        <div class="form-group">

                            <label for="shirtsizechartnameid">Select Size Chart</label>

                            <select name="shirtsizechartnameid" id="shirtsizechartnameid" class="form-control" require>
                                <option value="0">-- Please Select --</option>

                            </select>
                        </div>



                        <div class="row" style="padding-left:20px">
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("xsmall", new { @id = "xsmall", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="xsmall" id="xsmall">*@
                                <label class="form-check-label" for="xsmall">ExtraSmall</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("small", new { @id = "small", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="small" id="small">*@
                                <label class="form-check-label" for="xsmall">Small</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("medium", new { @id = "medium", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="medium" id="medium">*@
                                <label class="form-check-label" for="medium">Medium</label>
                            </div>

                        </div>

                        <div class="row" style="padding-left:20px">
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("large", new { @id = "large", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="large" id="large">*@
                                <label class="form-check-label" for="large">Large</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("xlarge", new { @id = "xlarge", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="xlarge" id="xlarge">*@
                                <label class="form-check-label" for="xlarge">Extra Large</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("xxlarge", new { @id = "xxlarge", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="xxlarge" id="xxlarge">*@
                                <label class="form-check-label" for="xxlarge">XXL</label>
                            </div>
                        </div>

                        <div class="row" style="padding-left:20px">
                           
                           
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("xxxlarge", new { @id = "xxlarge", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="xxlarge" id="xxlarge">*@
                                <label class="form-check-label" for="xxlarge">xXXL</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <img src="" id="pic1"
                                 class="rounded-square"
                                 height="50" width="75"
                                 style="border:1px" />
                            <input type="file" id="pics1" name="pic1">

                        </div>



                        <div class="form-group">
                            <img src="" id="pic2"
                                 class="rounded-square"
                                 height="50" width="75"
                                 style="border:1px" />
                            <input type="file" id="pics2" name="pic2">
                        </div>

                        <div class="form-group">
                            <img src="" id="pic3"
                                 class="rounded-square"
                                 height="50" width="75"
                                 style="border:1px" />
                            <input type="file" id="pics3" name="pic3">
                        </div>

                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" name="price" id="price" placeholder="Enter Price">
                        </div>



                        <div class="form-group">
                            <div class="form-group">
                                <label for="detail">Detail</label>
                                <textarea class="form-control" name="detail" id="detail" rows="3"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button> <button type="button" id="cancel" class="btn btn-danger">Cancel</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="background-color:blue">

            </div>
        </div>
    </div>

</div>



<script>
          function CheckNull() {
        debugger
        if ($("#shoename").val() == "") { document.getElementById('shoename').style.borderColor = "red"; toastr.error('shoename  required!'); } else { document.getElementById('shoename').style.borderColor = "#ced4da"; }
        if ($("#price").val() == "") { document.getElementById('price').style.borderColor = "red"; toastr.error('price required!');  } else { document.getElementById('price').style.borderColor = "#ced4da"; }
        if ($("#detail").val() == "") { document.getElementById('detail').style.borderColor = "red"; toastr.error('detail required!'); } else { document.getElementById('detail').style.borderColor = "#ced4da"; }

        if ($("#shirtsizechartnameid").val() == "0") { document.getElementById('shirtsizechartnameid').style.borderColor = "red"; toastr.error('shirtsizechartnameid required!'); } else { document.getElementById('shirtsizechartnameid').style.borderColor = "#ced4da"; }
         if ($("#categoryid").val() == "0") { document.getElementById('categoryid').style.borderColor = "red"; toastr.error('categoryid required!'); } else { document.getElementById('categoryid').style.borderColor = "#ced4da"; }




              if ($("#shoename").val() == "" || $("#price").val() == "" || $("#detail").val() == "" || $("#shirtsizechartnameid").val() == "0" || $("#categoryid").val() == "0" || $("#shirtsizechartnameid").val() == "0" || $("#categoryid").val() == "0" )
        {
            debugger
            toastr.error('All Fields are required!');
            checkingNull = false;
            return false;
        }
        else {
            checkingNull = true;
            return true;
        }
    }
    $("form#data").submit(function (e) {
        debugger
        if ($('#xsmall').is(':checked') == true) {
            $('#xsmall').attr('checked', 'checked');
            $('#xsmall').val(true);
        }
        if ($('#xsmall').is(':checked') == false) {
            $('#xsmall').attr('checked', false);
            $('#xsmall').val(false);
        }



        if ($('#small').is(':checked') == true) {
            $('#small').attr('checked', 'checked');
            $('#small').val(true);
        }

        if ($('#small').is(':checked') == false) {
            $('#small').attr('checked', false);
            $('#small').val(false);
        }


        if ($('#medium').is(':checked') == true) {
            $('#medium').attr('checked', 'checked');

            $('#medium').val(true);
        }
        if ($('#medium').is(':checked') == false) {
            $('#medium').attr('checked', false);
            $('#medium').val(false);
        }

        if ($('#large').is(':checked') == true) {
            $('#large').attr('checked', 'checked');
            $('#large').val(true);
        }
        if ($('#large').is(':checked') == false) {
            $('#large').attr('checked', false);
            $('#large').val(false);
        }

        if ($('#xlarge').is(':checked') == true) {
            $('#xlarge').attr('checked', 'checked');
            $('#xlarge').val(true);
        }
        if ($('#xlarge').is(':checked') == false) {
            $('#xlarge').attr('checked', false);
            $('#xlarge').val(false);
        }

        if ($('#xxlarge').is(':checked') == true) {
            $('#xxlarge').attr('checked', 'checked');
            $('#xxlarge').val(true);
        }
        if ($('#xxlarge').is(':checked') == false) {
            $('#xxlarge').attr('checked', false);
            $('#xxlarge').val(false);
        }
        if ($('#xxxlarge').is(':checked') == false) {
            $('#xxxlarge').attr('checked', false);
            $('#xxxlarge').val(false);
        }
        var ch = CheckNull();
        if (ch == false) {
            return false;
        }

        var formData = new FormData(this);


            //alert(email+mobile+cnic);
            $.ajax({
                url: '@Url.Action("updatetblshoe", "Update")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    toastr.success('Successfully Submitted');
                },
                cache: false,
                contentType: false,
                processData: false
            });



    });


    function getSizeMaleShirtList(categoryid) {
        $.ajax({
            url: '@Url.Action("getSizeList", "Detail")',
            type: 'POST',
            data: {
                'categoryid': categoryid
            },
            dataType: 'json',
            success: function (data) {
                var s ='<option value="0">-- Please Select --</option>';
                $('#shirtsizechartid').empty();
                //var s = '<option value="">--Please Select --</option>';
                //s += '<option value="0">--Select All --</option>';
                $.each(data.GetAllBtUserName, function (data, value) {
                    s += '<option value="' + value.chartName + '">' + value.chartName + '</option>';

                });

                $("#shirtsizechartid").append(s);

            },
            error: function (request, error) {
                $('#divLoader').hide();
                console.log(data);
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }

     $(document).on('click', '.btnEdit', function () {
         $('#my-modal').fadeIn(400);


            var $row = $(this).closest("tr"),
            $tds = $row.find("td:nth-child(1)");
             $('#ids').val($tds.text());



            //$tds = $row.find("td:nth-child(6)");
            //checklistId = $tds.text();

            $tds = $row.find("td:nth-child(2)");
            $('#shoename').val($tds.text());
            //AreaName = $('#txtCategoryName').val();

            $tds = $row.find("td:nth-child(4)");
            $("#shirtsizechartnameid").val($tds.text());






         $tds = $row.find("td:nth-child(5)");
         var xsmall = $tds.text();
         if (xsmall == 'yes') {
             $('#xsmall').attr('checked', 'checked');
             $('#xsmall').val(true);
         }
         if (xsmall == 'no') {
             $('#xsmall').val(false);
             $('#xsmall').attr('checked', false);
         }

         $tds = $row.find("td:nth-child(6)");
         var small = $tds.text();
         if (small == 'yes') {
             $('#small').attr('checked', 'checked');
             $('#small').val(true);
         }
         if (small == 'no') {
             $('#small').val(false);
             $('#small').attr('checked', false);
         }

         $tds = $row.find("td:nth-child(7)");
         var medium = $tds.text();
         if (medium == 'yes') {
             $('#medium').attr('checked', 'checked');

             $('#medium').val(true);
         }
         if (medium == 'no') {
             $('#medium').val(false);
             $('#medium').attr('checked', false);
         }

         $tds = $row.find("td:nth-child(8)");
         var large = $tds.text();
         if (large == 'yes') {
             $('#large').attr('checked', 'checked');
             $('#large').val(true);
         }
         if (large == 'no') {
             $('#large').val(false);
             $('#large').attr('checked', false);
         }

         $tds = $row.find("td:nth-child(9)");
         var xlarge = $tds.text();
         if (xlarge == 'yes') {
             $('#xlarge').attr('checked', 'checked');
             $('#xlarge').val(true);
         }
         if (xlarge == 'no') {
             $('#xlarge').val(false);
             $('#xlarge').attr('checked', false);
         }

         $tds = $row.find("td:nth-child(10)");
         var xxlarge = $tds.text();
         if (xxlarge == 'yes') {
             $('#xxlarge').attr('checked', 'checked');
             $('#xxlarge').val(true);
         }
         if (xxlarge == 'no') {
             $('#xxlarge').val(false);
             $('#xxlarge').attr('checked', false);
         }

         $tds = $row.find("td:nth-child(11)");
         var xxlarge = $tds.text();
         if (xxlarge == 'yes') {
             $('#xxxlarge').attr('checked', 'checked');
             $('#xxxlarge').val(true);
         }
         if (xxlarge == 'no') {
             $('#xxxlarge').val(false);
             $('#xxxlarge').attr('checked', false);
         }

         $tds = $row.find("td:nth-child(12)");
         $('#price').val($tds.text());

         $tds = $row.find("td:nth-child(13)");
         $('#detail').val($tds.text());

         $tds = $row.find("td:nth-child(14)");
         $("#pic1").attr("src", $tds.text());

         $tds = $row.find("td:nth-child(15)");
         $("#pic2").attr("src", $tds.text());

         $tds = $row.find("td:nth-child(16)");
         $("#pic3").attr("src", $tds.text());

         $tds = $row.find("td:nth-child(20)");
         $("#categoryid").val($tds.text());
     });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pic1').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pic2').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#pic3').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

        $("#pics1").change(function () {
            readURL(this);
        });
        $("#pics2").change(function () {
            readURL2(this);

        });

    $("#pics3").change(function () {
        readURL3(this);
    });
      $(document).on('click', '#btnView', function () {


            $('#my-modal').fadeIn(400);

            var $row = $(this).closest("tr"),
            $tds = $row.find("td:nth-child(1)");
            id = $tds.text();
            $tds = $row.find("td:nth-child(2)");


            $.ajax({
                url: '@Url.Action("edittblmaleGarment", "Edit")',
                type: 'POST',
                data: {
                    'id': id
                },

                dataType: 'json',

                success: function (response) {


                    var res = response.data;
                    var len = res.length;

                    if (len != 0) {
                        $("#modelcontent1").html($tds.text());
                        $("#modaldata").show();
                        $("#modelcontent2").hide();
                        for (i = 0; i < len; i++) {

                            $('#modelcontent').append('<h6 style=" ">' + '<i class="fas fa-check" style=" color:#ff6002">' + '</i>' + '    ' + ' ' + ' ' + '<span style=" margin-left:10px; font-family:Calibri !important;  font-size:20px;"> ' + res[i].Name + '</span>' + '</h6>');
                        }
                    }
                    else {
                        $("#modelcontent2").html("Checklist is not assigned to this role");
                        $("#modelcontent2").show();
                        $("#modaldata").hide();
                    }
                },
                error: function (request, error) {
                    toastr.error('Oops! Something went wrong');
                }
            });
        })
     function getSizeMaleShoeList() {
        $.ajax({
            url: '@Url.Action("getSizeShoeList", "Detail")',
            type: 'POST',
            data: {

            },
            dataType: 'json',
            success: function (data) {
                var s ='<option value="0">-- Please Select --</option>';
                $('#shirtsizechartnameid').empty();
                //var s = '<option value="">--Please Select --</option>';
                //s += '<option value="0">--Select All --</option>';
                $.each(data.GetAllBtUserName, function (data, value) {
                    s += '<option value="' + value.chartname + '">' + value.chartname + '</option>';

                });

                $("#shirtsizechartnameid").append(s);

            },
            error: function (request, error) {
               /* $('#divLoader').hide();*/
                console.log(data);
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }


     function getCategories() {

        debugger
        $.ajax({
            url: '@Url.Action("getCategories", "Detail")',
            type: 'POST',
            data: {
            },
            dataType: 'json',
            success: function (data) {
                debugger
                alert
                console.log(data.CategoryTypes);
                $('#categoryid').empty();

                var s = ' <option value="0">-- Please Select --</option>';

                $.each(data.CategoryTypes, function (data, value) {
                    //$("#ddlAttributeType").append('<option value="' + value.ID + '">' + value.CategoryType1 + '</option>');
                    s += '<option value="' + value.id + '">' + value.categoryName + '</option>';
                });
                $("#categoryid").append(s);

            },
            error: function (request, error) {
                console.log(request);
            }
        });
    }
        $(document).on('click', '#close', function () {
            //$('#modelcontent').empty();
            //$("#modelcontent1").empty();
            $('#my-modal').fadeOut(400);

        });
        $(document).on('click', '#cancel', function () {
            //$('#modelcontent').empty();
            //$("#modelcontent1").empty();
            $('#my-modal').fadeOut(400);

        });

    $(document).ready(function () {

        let table = new DataTable('#tblshoe');
        getCategories();
        getSizeMaleShoeList();



    });



</script>



<style>
    :root {
        --modal-duration: 1s;
        --modal-color: #ff6002;
    }


    .button {
        background: #428bca;
        padding: 1em 2em;
        color: #fff;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }

        .button:hover {
            background: #3876ac;
        }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        margin: 20% auto;
        width: 100%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: var(--modal-duration);
    }

    .modal-header h2,
    .modal-footer h3 {
        margin: 0;
    }

    .modal-header {
        background: var(--modal-color);
        padding: 15px;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .modal-body {
        padding: 10px 20px;
        background: #fff;
    }

    .modal-footer {
        background: var(--modal-color);
        padding: 10px;
        color: #fff;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .close {
        color: #ccc;
        float: right;
        font-size: 30px;
        color: #fff;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
