@model IEnumerable<bazar.DAL.Data.tblmaleGarmentclass>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}


<script src="~/Sscripts/jquery-3.6.0.min.js"></script>
<script src="~/Sscripts/jquery.dataTables.min.js"></script>
@*<script src="~/Content/jquery-3.1.1.min.js"></script>*@
@*<script src="~/Content/Toaster/scripts/toastr.min.js"></script>
<link href="~/Content/Toaster/content/toastr.min.css" rel="stylesheet" />*@
@*<link href="~/Content/JqueryDatatable/CSS/dataTables.bootstrap.min.css" rel="stylesheet" />*@
@*<script src="~/Sscripts/moment.js"></script>*@

<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />


@*<script src="~/Sscripts/CustomeJS.js"></script>*@


    @Html.Partial("_gettblmalegarment", Model)



<div id="my-modal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:blue">
                <h2 style="color:white">Edit Form</h2>
                <span id="close" class="close">&times;</span>

            </div>
            <div class="modal-body">
                <div id="modaldata" style="margin-top:20px; margin-bottom:30px;">  </div>
                <h5 id="modelcontent2" style=" font-family:Calibri !important; "></h5>
                <div id="modelcontent" style="margin-bottom:30px;  font-family:Calibri !important; ">
                    <form id="data" enctype="multipart/form-data" method="post">


                        <div class="form-group" style="display:none">
                            <label for="clothname">Id</label>
                            <input type="text" style="display:none" class="form-control" name="id" id="ids" placeholder="Enter waist size">
                        </div>
                        <div class="form-group">
                            <label for="clothname">ClothName</label>
                            <input type="text" class="form-control" name="clothname" id="clothname" placeholder="Enter waist size">
                        </div>
                        <div class="form-group">

                            <label for="categoryid">Select Category</label>

                            <select name="categoryid" id="categoryid" class="form-control" require>
                                <option value="0">-- Please Select --</option>

                            </select>
                        </div>




                        <div class="form-group">

                            <label for="shirtsizechartid">Select Shirt Chart</label>

                            <select name="shirtsizechartid" id="shirtsizechartid" class="form-control" require>
                                <option value="0">-- Please Select --</option>

                            </select>
                        </div>

                        <div class="form-group">

                            <label for="pantsizechartid">Select Pant Chart</label>

                            <select name="pantsizechartid" id="pantsizechartid" class="form-control" require>
                                <option value="0">-- Please Select --</option>

                            </select>
                        </div>

                        <!--<div class="row" style="padding-left: 20px">
                            <div class="form-group col-md-2 col-sm-12">

                                @*<input type="checkbox" class="form-check-input" name="xsmall" id="xsmall">*@
                                <!--<label class="form-check-label" for="xsmall">ExtraSmall</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">

                                <input type="checkbox" class="form-check-input" name="small" id="small">
                                <label class="form-check-label" for="xsmall">Small</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">

                                <input type="checkbox" class="form-check-input" name="medium" id="medium">
                                <label class="form-check-label" for="medium">Medium</label>
                            </div>

                        </div>

                        <div class="row" style="padding-left: 20px">
                            <div class="form-group col-md-2 col-sm-12">

                                <input type="checkbox" class="form-check-input" name="large" id="large">
                                <label class="form-check-label" for="large">Large</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">

                                <input type="checkbox" class="form-check-input" name="xlarge" id="xlarge">
                                <label class="form-check-label" for="xlarge">Extra Large</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">

                                <input type="checkbox" class="form-check-input" name="xxlarge" id="xxlarge">
                                <label class="form-check-label" for="xxlarge">XXL</label>
                            </div>

                        </div>-->
                        <div class="row" style="padding-left:20px">
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("xsmall", new { @id = "xsmall", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="xsmall" id="xsmall">*@
                                <label class="form-check-label" for="xsmall">ExtraSmall</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("small", new { @id = "small", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="small" id="small">*@
                                <label class="form-check-label" for="xsmall">Small</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("medium", new { @id = "medium", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="medium" id="medium">*@
                                <label class="form-check-label" for="medium">Medium</label>
                            </div>

                        </div>

                        <div class="row" style="padding-left:20px">
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("large", new { @id = "large", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="large" id="large">*@
                                <label class="form-check-label" for="large">Large</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1">
                                @Html.CheckBox("xlarge", new { @id = "xlarge", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="xlarge" id="xlarge">*@
                                <label class="form-check-label" for="xlarge">Extra Large</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-1" style="display:none">
                                @Html.CheckBox("xxlarge", new { @id = "xxlarge", @class = "form-check-input" })
                                @*<input type="checkbox" class="form-check-input" name="xxlarge" id="xxlarge">*@
                                <label class="form-check-label" for="xxlarge">XXL</label>
                            </div>
                        </div>


                        <div class="form-group">
                            <img src="" id="pic1"
                                 class="rounded-square"
                                 height="50" width="75"
                                 style="border:1px" />
                            <input type="file" id="pics1" name="pic1">

                        </div>



                        <div class="form-group">
                            <img src="" id="pic2"
                                 class="rounded-square"
                                 height="50" width="75"
                                 style="border:1px" />
                            <input type="file" id="pics2" name="pic2">
                        </div>

                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" autocomplete="off" onkeypress="return isNumber(event)" name="price" id="price" placeholder="Enter Price">
                        </div>



                        <div class="form-group">
                            <div class="form-group">
                                <label for="detail">Detail</label>
                                <textarea class="form-control" name="detail" id="detail" rows="3"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button> <button type="button" id="cancel" class="btn btn-danger">Cancel</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="background-color:blue">

            </div>
        </div>
    </div>

</div>



<script>

    $(document).ready(function () {

        let table = new DataTable('#maletable');

        //$('#maletable').dataTable({
        //    "sDom": 'T<"clear">lfrtip',
        //    "oTableTools": {
        //        "sSwfPath": "/swf/copy_cvs_xlsx_pdf.swf"
        //    }
        //});


    });


        function CheckNull() {
      
        if ($("#clothname").val() == "") { document.getElementById('clothname').style.borderColor = "red"; toastr.error('clothname  required!'); } else { document.getElementById('clothname').style.borderColor = "#ced4da"; }
        if ($("#price").val() == "") { document.getElementById('price').style.borderColor = "red"; toastr.error('price required!');  } else { document.getElementById('price').style.borderColor = "#ced4da"; }
        if ($("#detail").val() == "") { document.getElementById('detail').style.borderColor = "red"; toastr.error('detail required!'); } else { document.getElementById('detail').style.borderColor = "#ced4da"; }


        if ($("#categoryid").val() == "0") { document.getElementById('categoryid').style.borderColor = "red"; toastr.error('categoryid Field  required!'); } else { document.getElementById('categoryid').style.borderColor = "#ced4da"; }
        if ($("#categoryid").val() == "1")
        {
            if ($("#shirtsizechartid").val() == "0") { document.getElementById('shirtsizechartid').style.borderColor = "red"; toastr.error('shirtsizechartid Field  required!'); return false;} else { document.getElementById('shirtsizechartid').style.borderColor = "#ced4da"; }


        }
        if ($("#categoryid").val() == "2") {
            if ($("#pantsizechartid").val() == "0") { document.getElementById('pantsizechartid').style.borderColor = "red"; toastr.error('pantsizechartid Field  required!'); return false;} else { document.getElementById('pantsizechartid').style.borderColor = "#ced4da"; }


        }



        if($("#clothname").val() == "" || $("#price").val() == "" || $("#detail").val() == "" || $("#categoryid").val() == "0" )
        {
           
            toastr.error('All Fields are required!');
            checkingNull = false;
            return false;
        }
        else {
            checkingNull = true;
            return true;
        }
    }


    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            toastr.error('write number only in price');
            return false;
        }

        return true;
    }






    $("form#data").submit(function (e) {
       
    
        var ch = CheckNull();
        if (ch == false) {
            return false;
        }

        if ($('#xsmall').is(':checked') == true) {
            $('#xsmall').attr('checked', 'checked');
            $('#xsmall').val(true);
        }
        if ($('#xsmall').is(':checked') == false) {
            $('#xsmall').attr('checked', false);
            $('#xsmall').val(false);
        }

    

        if ($('#small').is(':checked') == true) {
            $('#small').attr('checked', 'checked');
            $('#small').val(true);
        }

        if ($('#small').is(':checked') == false) {
            $('#small').attr('checked', false);
            $('#small').val(false);
        }

   
        if ($('#medium').is(':checked') == true) {
            $('#medium').attr('checked', 'checked');

            $('#medium').val(true);
        }
        if($('#medium').is(':checked') == false) {
            $('#medium').attr('checked', false);
            $('#medium').val(false);
        }

        if ($('#large').is(':checked') == true) {
            $('#large').attr('checked', 'checked');
            $('#large').val(true);
        }
        if ($('#large').is(':checked') == false) {
            $('#large').attr('checked', false);
            $('#large').val(false);
        }

        if ($('#xlarge').is(':checked') == true) {
            $('#xlarge').attr('checked', 'checked');
            $('#xlarge').val(true);
        }
        if ($('#xlarge').is(':checked') == false) {
            $('#xlarge').attr('checked', false);
            $('#xlarge').val(false);
        }

        if ($('#xxlarge').is(':checked') == true) {
            $('#xxlarge').attr('checked', 'checked');
            $('#xxlarge').val(true);
        }
        if ($('#xxlarge').is(':checked') == false) {
            $('#xxlarge').attr('checked', false);
            $('#xxlarge').val(false);
        }

        var formData = new FormData(this);


            //alert(email+mobile+cnic);
            $.ajax({
                url: '@Url.Action("updatetblmaleGarment", "Update")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    if (data.messege == 'success') {
                        alert("successfully submitted");
                        toastr.success('Successfully Submitted');
                    }
                    else if (data.messege == 'exception') {
                        alert(data.exception);
                    }
                    else {
                        alert("clothname already exist");
                      //  toastr.error("clothname already exist");
                    }
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                cache: false,
                contentType: false,
                processData: false
            });



    });


    function getSizeMaleShirtList(categoryid) {
        $.ajax({
            url: '@Url.Action("getSizeList", "Detail")',
            type: 'POST',
            data: {
                'categoryid': categoryid
            },
            dataType: 'json',
            success: function (data) {
                var s ='<option value="0">-- Please Select --</option>';
                $('#shirtsizechartid').empty();
                //var s = '<option value="">--Please Select --</option>';
                //s += '<option value="0">--Select All --</option>';
                $.each(data.GetAllBtUserName, function (data, value) {
                    s += '<option value="' + value.chartName + '">' + value.chartName + '</option>';

                });

                $("#shirtsizechartid").append(s);

            },
            error: function (request, error) {
                $('#divLoader').hide();
                console.log(data);
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }

     $(document).on('click', '.btnEdit', function () {
         $('#my-modal').fadeIn(400);


            var $row = $(this).closest("tr"),
            $tds = $row.find("td:nth-child(1)");
             $('#ids').val($tds.text());



            //$tds = $row.find("td:nth-child(6)");
            //checklistId = $tds.text();

            $tds = $row.find("td:nth-child(2)");
            $('#clothname').val($tds.text());
            //AreaName = $('#txtCategoryName').val();

            $tds = $row.find("td:nth-child(3)");
         $("#categoryid").val($tds.text());
          var categoryid = $tds.text();

         if (categoryid == 0) {
             $("#shirtsizechartid").prop("disabled", true);
             $("#pantsizechartid").prop("disabled", true);



         }
         if (categoryid == 1) {
             $("#shirtsizechartid").prop("disabled", false);
             $("#pantsizechartid").prop("disabled", true);
             //        getSizeMalePantList(0);
             $('#pantsizechartid').empty();

             getSizeMaleShirtList(categoryid);
             $tds = $row.find("td:nth-child(5)");
            
             var vals = $tds.text();
             setTimeout(function () { $("#shirtsizechartid").val(vals); }, 500);

         }
         if (categoryid == 2) {
             $("#pantsizechartid").prop("disabled", false);
             $("#shirtsizechartid").prop("disabled", true);
             $('#shirtsizechartid').empty();
             getSizeMalePantList(categoryid);

             $tds = $row.find("td:nth-child(6)");

             var vals = $tds.text();
             setTimeout(function () { $("#pantsizechartid").val(vals); }, 500);
         }

         $tds = $row.find("td:nth-child(7)");
         var xsmall = $tds.text();
         if (xsmall == 'yes') {
             $('#xsmall').attr('checked', 'checked');
             $('#xsmall').val(true);
         }
         if (xsmall == 'no') {
             $('#xsmall').val(false);
         }

         $tds = $row.find("td:nth-child(8)");
         var small = $tds.text();
         if (small == 'yes') {
             $('#small').attr('checked', 'checked');
             $('#small').val(true);
         }
         if (small == 'no') {
             $('#small').val(false);
         }

         $tds = $row.find("td:nth-child(9)");
         var medium = $tds.text();
         if (medium == 'yes') {
             $('#medium').attr('checked', 'checked');

             $('#medium').val(true);
         }
         if (medium == 'no') {
             $('#medium').val(false);
         }

         $tds = $row.find("td:nth-child(10)");
         var large = $tds.text();
         if (large == 'yes') {
             $('#large').attr('checked', 'checked');
             $('#large').val(true);
         }
         if (large == 'no') {
             $('#large').val(false);
         }

         $tds = $row.find("td:nth-child(11)");
         var xlarge = $tds.text();
         if (xlarge == 'yes') {
             $('#xlarge').attr('checked', 'checked');
             $('#xlarge').val(true);
         }
         if (xlarge == 'no') {
             $('#xlarge').val(false);
         }

         $tds = $row.find("td:nth-child(12)");
         var xxlarge = $tds.text();
         if (xxlarge == 'yes') {
             $('#xxlarge').attr('checked', 'checked');
             $('#xxlarge').val(true);
         }
         if (xxlarge == 'no') {
             $('#xxlarge').val(false);
         }
         $tds = $row.find("td:nth-child(13)");
         $('#price').val($tds.text());

         $tds = $row.find("td:nth-child(14)");
         $('#detail').val($tds.text());

         $tds = $row.find("td:nth-child(15)");
         $("#pic1").attr("src", $tds.text());

         $tds = $row.find("td:nth-child(16)");
         $("#pic2").attr("src", $tds.text());


     });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pic1').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pic2').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#pics1").change(function () {
            readURL(this);
        });
        $("#pics2").change(function () {
            readURL2(this);
        });
      $(document).on('click', '#btnView', function () {


            $('#my-modal').fadeIn(400);

            var $row = $(this).closest("tr"),
            $tds = $row.find("td:nth-child(1)");
            id = $tds.text();
            $tds = $row.find("td:nth-child(2)");


            $.ajax({
                url: '@Url.Action("edittblmaleGarment", "Edit")',
                type: 'POST',
                data: {
                    'id': id
                },

                dataType: 'json',

                success: function (response) {


                    var res = response.data;
                    var len = res.length;

                    if (len != 0) {
                        $("#modelcontent1").html($tds.text());
                        $("#modaldata").show();
                        $("#modelcontent2").hide();
                        for (i = 0; i < len; i++) {

                            $('#modelcontent').append('<h6 style=" ">' + '<i class="fas fa-check" style=" color:#ff6002">' + '</i>' + '    ' + ' ' + ' ' + '<span style=" margin-left:10px; font-family:Calibri !important;  font-size:20px;"> ' + res[i].Name + '</span>' + '</h6>');
                        }
                    }
                    else {
                        $("#modelcontent2").html("Checklist is not assigned to this role");
                        $("#modelcontent2").show();
                        $("#modaldata").hide();
                    }
                },
                error: function (request, error) {
                    toastr.error('Oops! Something went wrong');
                }
            });
        })


    function getCategories() {

       
        $.ajax({
            url: '@Url.Action("getCategories", "Detail")',
            type: 'POST',
            data: {
            },
            dataType: 'json',
            success: function (data) {
              
                alert
                console.log(data.CategoryTypes);
                $('#categoryid').empty();

                var s = ' <option value="0">-- Please Select --</option>';

                $.each(data.CategoryTypes, function (data, value) {
                    //$("#ddlAttributeType").append('<option value="' + value.ID + '">' + value.CategoryType1 + '</option>');
                    s += '<option value="' + value.id + '">' + value.categoryName + '</option>';
                });
                $("#categoryid").append(s);

            },
            error: function (request, error) {
                console.log(request);
            }
        });
    }


    function getSizeMaleShirtList(categoryid) {
        $.ajax({
            url: '@Url.Action("getSizeList", "Detail")',
            type: 'POST',
            data: {
                'categoryid': categoryid
            },
            dataType: 'json',
            success: function (data) {
                var s ='<option value="0">-- Please Select --</option>';
                $('#shirtsizechartid').empty();
                //var s = '<option value="">--Please Select --</option>';
                //s += '<option value="0">--Select All --</option>';
                $.each(data.GetAllBtUserName, function (data, value) {
                    s += '<option value="' + value.chartName + '">' + value.chartName + '</option>';

                });

                $("#shirtsizechartid").append(s);

            },
            error: function (request, error) {
                $('#divLoader').hide();
                console.log(data);
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }

      function getSizeMalePantList(categoryid) {
        $.ajax({
            url: '@Url.Action("getSizeList", "Detail")',
            type: 'POST',
            data: {
                'categoryid': categoryid
            },
            dataType: 'json',
            success: function (data) {
                var s ='<option value="0">-- Please Select --</option>';
                $('#pantsizechartid').empty();
              //  var s = '<option value="">--Please Select --</option>';
               // s += '<option value="0">--Select All --</option>';
                $.each(data.GetAllBtUserName, function (data, value) {
                    s += '<option value="' + value.chartName + '">' + value.chartName + '</option>';

                });

                $("#pantsizechartid").append(s);

            },
            error: function (request, error) {
                $('#divLoader').hide();
                console.log(data);
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }


    $("#categoryid").change(function () {

        //ShowProgress();

        categoryid = ($(this).val());
        if (categoryid == 0) {
            $("#shirtsizechartid").prop("disabled", true);
            $("#pantsizechartid").prop("disabled", true);



        }
        if(categoryid == 1)
        {
            $("#shirtsizechartid").prop("disabled", false);
            $("#pantsizechartid").prop("disabled", true);
    //        getSizeMalePantList(0);
            $('#pantsizechartid').empty();
            getSizeMaleShirtList(categoryid);

        }
        if (categoryid == 2)
        {
            $("#pantsizechartid").prop("disabled", false);
            $("#shirtsizechartid").prop("disabled", true);
            $('#shirtsizechartid').empty();
            getSizeMalePantList(categoryid);

        }


    });

        $(document).on('click', '#close', function () {
            //$('#modelcontent').empty();
            //$("#modelcontent1").empty();
            $('#my-modal').fadeOut(400);

        });
        $(document).on('click', '#cancel', function () {
            //$('#modelcontent').empty();
            //$("#modelcontent1").empty();
            $('#my-modal').fadeOut(400);

        });


     $(document).ready(function () {


         $("#shirtsizechartid").prop("disabled", true);
         $("#pantsizechartid").prop("disabled", true);
         getCategories();


    });


</script>
@{




    @*if (Convert.ToString(TempData["success"]) == "success")
    {

        <script>

            toastr.success("successfully Added");

        </script>

    }*@

}


<style>
    :root {
        --modal-duration: 1s;
        --modal-color: #ff6002;
    }


    .button {
        background: #428bca;
        padding: 1em 2em;
        color: #fff;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }

        .button:hover {
            background: #3876ac;
        }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        margin: 20% auto;
        width: 100%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: var(--modal-duration);
    }

    .modal-header h2,
    .modal-footer h3 {
        margin: 0;
    }

    .modal-header {
        background: var(--modal-color);
        padding: 15px;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .modal-body {
        padding: 10px 20px;
        background: #fff;
    }

    .modal-footer {
        background: var(--modal-color);
        padding: 10px;
        color: #fff;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .close {
        color: #ccc;
        float: right;
        font-size: 30px;
        color: #fff;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
