@model IEnumerable<bazar.Models.tblsizeShirtMale>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}

<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                      
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ basic-table ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Your Charts</h5>
                                       
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                         @foreach (var rows in Session["getchartname"] as List<bazar.DAL.Data.getchartnameclass>)
                                         {
                                            <table class="table">
                                                <thead style="color:#ff6002">
                                                    <tr>
                                                        <th>Size Name</th>
                                                        <th>Collar</th>
                                                        <th>chest</th>
                                                        <th>sleevelength</th>
                                                        <th>Area</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblfloortime">

                                                    @foreach (var row in Model)
                                                    {
                                                        if (row.chartName == rows.chartname)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(modelItem => row.sizeName)</td>
                                                                <td>@Html.DisplayFor(modelItem => row.collar)</td>
                                                                <td>@Html.DisplayFor(modelItem => row.chest)</td>
                                                                <td>@Html.DisplayFor(modelItem => row.sleeveLength)</td>
                                                                <td>@Html.DisplayFor(modelItem => row.shirtLength)</td>



                                                            </tr>
                                                        }
                                                    }
                                                    <tr style="background-color:brown;color:white">
                                                        <td>Chartname:</td><td>@rows.chartname</td> <td></td><td>Unit:</td><td>@rows.unit</td>

                                                    </tr>
                                                    <tr>
                                                        <td>@Html.ActionLink("Delete", "deletetblsizeShirtMale", "Delete", new { chartname = rows.chartname }, new { @class = "btn btn-primary" })</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                         }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ basic-table ] end -->


                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>